.nav-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.nav-item {
    margin: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding:3px;
    transition: all 0.4s ease-out;  
    font-weight: 400;
    color:rgb(83, 83, 83);

}

.nav-item:hover {
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
    transition: all 0.4s ease-out;  

}
