Body {
    background-color: #f6f9fb;
    margin: 5%;
}

.main-container {
    box-shadow: 1px 1px 5px grey;
    padding: 20px;
    background-color: white;


}
hr { 
    background-color: rgb(230, 230, 230);
    height: 3px; 
    border: 0; 
    width: 60%;
}

